<div class="page__inner-wrap" >
    <section itemprop="text" class="page__content">{% include_relative includes/intro.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/news.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/education.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/pub.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/honers.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/project.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/interests.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/activities.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/cooperator.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/others.md %}</section>
</div>