<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links" >
          <li class="masthead__menu-item " id="changeToChinese" ><div class="title">Chinese HomePage</div></li>
          <li class="masthead__menu-item " id="homepageEnglish" ><div class="title">HomePage</div></li>
          <li class="masthead__menu-item " id="testTitleEnglish"><div class="title">Photos and Certificates</div></li>
          {% for link in site.data.navigation.main %}
          <li class="masthead__menu-item "><a href="{{ domain }}{{ link.url }}"><div class="title">{{ link.title }}</div></a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
