<div class="page__inner-wrap" >
    <section itemprop="text" class="page__content">{% include_relative includes/introChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/newsChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/educationChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/pubChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/honersChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/projectChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/interestsChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/activitiesChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/cooperatorChinese.md %}</section>

    <section itemprop="text" class="page__content">{% include_relative includes/othersChinese.md %}</section>
</div>